/* Google Maps */
.googleMap {
	overflow: hidden;
	box-sizing: border-box;
	border: 0;
	font-size: small;
}

.gmm_poster {
	width: 240px;
	vertical-align: top;
	word-wrap: break-word;
	word-break: break-all;
}

.gmm_avatar {
	float: right;
	margin-left: 4px;
}

#gmm {
	width: 100%;
	clear: both;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#mapWindow {
	margin: auto;
	padding: 6px;
	border: 1px solid #CCCCCC;
	border-bottom-color: #999999;
	box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
	color: #000000;
	height: 500px;
}

#map {
	height: 100%;
}

.mappanel {
	box-sizing: border-box;
	flex: 1 1 auto;
	width: 200px;
}

#googleSidebar {
	overflow: auto;
	margin: 0;
	padding-left: 2px;
	max-height: 514px;
	border: 1px solid #CCCCCC;
	border-bottom-color: #999999;
	text-align: left;
	white-space: nowrap;
}

.sidebarleft, .sidebarright {
	box-sizing: border-box;
	width: 225px;
	flex: 0 0 auto;
}

.sidebarleft {
	float: left;
	padding-right: 5px;
}

.sidebarright {
	float: right;
	padding-left: 5px;
}

.googleMap ul ul {
	padding: 3px 0 0 0;
}

.googleMap ul ul li {
	display: inline;
}

#googleMap_Legend {
	overflow: auto;
	margin: 0 auto;
}

.cluster > img {
	width: 100%;
	height: auto;
}

#googleMapReset {
	position: relative;
	bottom: 25px;
	left: 5px;
	width: 16px;
	height: 16px;
	border: 1px dotted #EEEEEE;
	background-color: #FFFFFF;
	cursor: pointer;
}

#map_canvas {
	margin: 0 auto;
	width: 100%;
	height: 350px;
	color: #000000;
}

#map_canvas input, textarea {
	background-color: #FFFFFF;
}

.gmm_centertext {
	width: 100%;
	text-align: center;
}

.pac-container {
	background-color: #FFFFFF;
}

.pac-item {
	color: #000000;
}

.svgicon {
	display: inline-block;
	width: 2em;
	height: 2em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

@media screen and (max-width: 50em) {
	#gmm {
		display: block;
	}
	.sidebarleft, .sidebarright, .mappanel {

		float: none;
		width: 100%;
	}
}
